mat-card {
  height: 100%;
}

.mat-row:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

p {
  font-family: Lato;
}

table {
  width: 100%;
}

.header {
  padding: 5px;
}

.filter {
  display: block;
}